<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> K A L A W A K A N - E learning
    </title>
  <style>
@font-face {
    font-family: "myfont";
    src: url("/modern\ M.ttf");
  }
  .actcon{
    border-radius: 15px;
    background-color: rgba(4, 4, 4, 0.627);
    display: flex;
    
  }
  .con1 img{
    height: 320px;
    width: 450px;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 20px;
  }
  a{
    color: rgb(0, 130, 216);
  }
  .con1{
    padding: 20px;
  }
  .cautionBox {
    color: #FFF;
    display: block;
    width: 350px;
    max-width: 70%;
    background-color: #AD1313;
    background-image: url(/resources/backgrounds/relevant-fact.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 75px;
    margin: 0 auto 10px;
    padding: 10px 10px 10px 80px;
}
span{
  color: rgb(0, 111, 215);
}
.information, .information {
    width: 400px;
    color: #000000;
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 10px;
    padding: 10px 10px 10px 15px;
    background-color: #d28abc;
    font-size: 30px;
}
  </style>
 <link rel="icon" type="image/x-icon" href="/i.png">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/cursor.css">
    <link rel="stylesheet" href="/solar.css">
</head>
<body>  <audio id="backgroundMusic" autoplay loop volume="0">
  <source src="/bg.mp3" type="audio/mpeg" volume="0">
  Your browser does not support the audio element.
</audio>
<audio id="backgroundMusi" autoplay volume="0" >
  <source src="/solarh.m4a" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
  <div class="bg"></div>

  <div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  </div>



    <div class="sidebar">
      <div class="logo"></div>
        <div class="side">
            
        <ul>
          <li><a href="/dashboard"><img src="/home.svg">Home</a></li>
          <li ><a href="/courses"><img src="/note.svg">Courses</a></li>
          <li><a href="/lessons"><img src="/p.svg">Resources</a></li>
          <li ><a href="/solar"><img src="/planet.svg">Models</a></li>
          <li  class="active"><a href="galaxies.html"><img src="/galaxy-svgrepo-com.svg">Activities</a></li>
   
          <li><a href="/quiz"><img src="/pen-.svg">Quiz</a></li>
          
          <li><a href="/videos"><img src="/video.svg">Videos</a></li>
          <li><a href="/dev"><img src="/team.svg">Devs</a></li>
      
        </ul></div>
        <img src="/light.png" style="height:80px;width:300px;bottom:0;left:-40px;position:absolute;margin-bottom: 13px;">

      </div>

      <nav>
        <div class="logo">
          <img src="bot.png"><div class="tit">
            <p>K A L A W A K A N <br>E - Learning Web</p>
          </div>
        </div>
       <div class="account">
      <p>Account</p><img src="/acc.svg" id="open-modal-btn">
       </div>
      </nav>
      <div class="main-content">
      <h1>Activities</h1>
      <span style="font-size: 17px;">Here, you'll find a collection of engaging and educational activities that will ignite your curiosity about space and unveil the mysteries of the universe.</span></div>
      <div class="main-content">
 
      
        <div class="actcon">
          <div class="con1" style="width: 65%; ;">
          <br>
        <h3>Make a Planet Mask!</h3>
        <iframe width="560" height="315" style="margin-left: 90px;" src="https://www.youtube.com/embed/aTd2f59TSVo?start=22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p style="font-size: 14px;">Watch this video to learn how to make a planet mask!</p><br>
      <p>Our solar system has eight very different and very special planets. Which one is farthest from the sun? Which one has the most moons? Find the answers to these questions and make a cool wearable planet mask with this fun activity!</p>
      <br>
      <h3>What you need:</h3>
      <img src="/need.jpg">
      <ul style="padding-left: 10%">
        <li>Printout of planet mask activity (pages 1 and 2)</li>
        <li>Scissors</li>
        <li>Tape</li>
      </ul>

      <div class="cautionBox" style="">
        <p class="Quicksand" style="margin-left:20px;"><font size="6"> <b>Caution!</b></font></p>
        <p style="margin-left: -50px;"><strong>Be very careful when using scissors.</strong></p>
        <p style="margin-left: -50px;">Adult scissors (i.e. scissors with a sharpened edge) should not be used by children under the age of 10 without adult supervision.</p>
      </div>
    <h3>What to do:</h3>
    <p>1. Use scissors to cut out planet shape (page 1 of printout) on the dotted line. Be sure to save the fun facts at the bottom of the page.</p>
    <img src="/1.jpg"><br><br><br>
    <p>2.Use scissors to cut out the mask's eye holes on the dotted lines.</p>
    <img src="/2.jpg"> <img src="/2.1.jpg"><br><br><br>
    <p>3.Cut out 3 strips of paper (page 2 of printout) on the dotted lines.</p>
    <img src="/3.jpg"> <img src="/3.1.jpg"><br><br><br>
    <p>4.Tape the ends of the paper strips together to make one long paper strip.</p>
    <img src="/4.jpg"> <br><br><br>
    <p>5.Wrap the long paper strip around your head until you have a snug fit. The strip should form a ring around your head. Tape the ends of the paper strip so that the ring will stay the right size. Note: be careful not to get tape stuck in your hair! If you can, find a friend to help you with this step.</p>
    <img src="/5.jpg"> <br><br><br>
    <p>6.Take the paper ring off of your head. Tape the ring to the back of the planet cutout near the center and top of the planet.</p>
    <img src="/6.jpg"> <br><br><br>
    <p>7.Place the paper ring on top of your head and see the world through a planet's eyes! And while you're pretending to be a planet, be sure to tell your friends some fun facts about yourself. (You'll find a few on page 1 of the activity.)</p>
    <img src="/7.jpg"><br><br><br>
    
    
    
    </div>
      <div style="width: 35%; background-color: rgba(35, 182, 255, 0.268);text-align: center; padding: 20px;">
        <h3>Download the printable mask activity below!</h3><br>
        <p style="font-size: 19px;">Mercury Mask</p>
        <img src="/mercury-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>

        <p style="font-size: 19px;">Venus Mask</p>
        <img src="/venus-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>



        <p style="font-size: 19px;">Earth Mask</p>
        <img src="/earth-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>

        <p style="font-size: 19px;">Mars Mask</p>
        <img src="/mars-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>

        <p style="font-size: 19px;">Jupiter Mask</p>
        <img src="/jupiter-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>

        <p style="font-size: 19px;">Saturn Mask</p>
        <img src="/Saturn-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>

        <p style="font-size: 19px;">Uranus Mask</p>
        <img src="/Uranus-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>

        <p style="font-size: 19px;">Neptune Mask</p>
        <img src="/neptune-mask.png" style=""><br>
        <a href="https://spaceplace.nasa.gov/review/planet-masks/mercury-mask.pdf">Download Mask</a><br><br>
      </div>
      </div>

        </div>

        <div class="main-content">
<h2>NASA Scavenger Hunts</h2><br><br>
<img src="/act2.png" style="border-radius: 20px;margin-left: 160px;">
<h2>Mission to Mars:<span> A Scavenger Hunt!</span></h2>
<div style="display: flex;margin-top: 20px;">

<img src="/mar.png" style="height: 90px;"><p style="font-size: 19px;">Do your students want to take part in a Martian mission? Use our Mars scavenger hunt in your next lesson! Students can complete the scavenger hunt activity by reading the selected articles on the NASA Space Place website to find the answers to each clue. Once they have all the clues, they will be able to spell the secret word! You can check their answers with the answer key provided below.</p></div>
<br>
<h2>
  Questions:
</h2>
       <a href="https://spaceplace.nasa.gov/review/scavenger-hunts/mars/ScavengerHunt_Mars_Questions.pdf">Download the questions for this activity (PDF)</a>   
       <br>
        <a href="https://spaceplace.nasa.gov/review/scavenger-hunts/mars/ScavengerHunt_Mars_Questions.docx">Download the questions for this activity (DOCX)</a>

<h2>Answers:</h2>
<a href="Download the answers for this activity (PDF)">Download the answers for this activity (PDF)</a>

      </div>




      <div class="main-content">
 
      
        <div class="actcon" >
          <div class="con1" style="width: 65%; ;">
          <h2>Build a Bubble-Powered Rocket!</h2><br><br>
          
          <p style="width: 250px;">Build your own rocket using paper and fizzing tablets! Watch it lift off. How high does your rocket go? Print this page for the instructions.</p>
          <img class="padded right" src="/rock.gif" style="position: absolute;height: 120px;width: 250px; left: 220px;top:80px"  alt="Cartoon paper rocket with animated bubbles coming out of engines.">
          <div class="information">
            
            <p style="color: red;"><b>Suggestion:</b></p> <p>Find a grown-up to do this activity with you.</p>
            </div>
          <h2>Materials:</h2><br>

          <ul plain="">
						<li><p>Paper, regular 8-1/2- by 11-inch paper, such as computer printer paper or even notebook paper.</p></li>
						<li><p>Plastic 35-mm film canister (see hints below)</p></li>
						<li><p>Cellophane tape</p></li>
						<li><p>Scissors</p></li>
						<li><p>Effervescing (fizzing) antacid tablet (the kind used to settle an upset stomach)</p></li>
						<li><p>Paper towels</p></li>
						<li><p>Water</p></li>
						<li><p>Eye protection (like eye glasses, sun glasses, or safety glasses)</p></li>
					</ul>
          <br><br><br>
<h2>Making the Rocket</h2><br>
<p>You must first decide how to cut your paper. You may cut it the short way or the long way to make the body of the rocket. There is no one right way to make a paper rocket. Try a long, skinny rocket or a short, fat rocket. Try a sharp nosecone or a blunt nosecone. Try it with fins or without fins. Experiment!</p>
<br><p>Here's just one idea for how you might cut your whole rocket from one piece of paper:</p>
<img src="/pic.gif">
<br<Br>
  <p>Here are the basic steps:</p>
  <ol>
    <li><p>Cut out all the pieces for your rocket.</p></li>
    <li><p>Wrap and tape a tube of paper around the film canister. <b>Hint:</b> Tape the canister to the end of the paper before you start wrapping.</p></li>
         <li><p> <b>Important!</b> Place the lid end of the canister <b>down</b>.</p></li>
    <li><p>Tape fins to your rocket body, if you want.</p></li>
    <li><p>Roll the circle (with a wedge cut out) into a cone and tape it to the rocket's top.</p></li>
  </ol>


<br><br>
<h2>Blasting Off</h2>
<ol>
  <li><p>Put on your eye protection.</p></li>
  <li><p>Turn the rocket upside down and remove the canister's lid.</p></li>
  <li><p>Fill the canister one-third full of water.</p></li>
 </ol>
 <br>
<p>Now work quickly on the next steps!</p>

<ol>
  <li><p>Drop one-half of an effervescing antacid tablet into the canister.</p></li>
  <li><p>Snap the lid on tight.</p></li>
  <li><p>Stand your rocket on a launch platform, such as your sidewalk or driveway.</p></li>
  <li><p>Stand back and wait. Your rocket will blast off!</p></li>
        

</ol>
<br><br><br>
<h2>So, Dr. Marc, how does the pop-rocket work?</h2><img src="/doc.gif" style="height: 130px;width: 130px;margin-left: 250px;">
<p>When the fizzy tablet is placed in water, many little bubbles of gas escape. The bubbles go up, instead of down, because they weigh less than water. When the bubbles get to the surface of the water, they break open. All that gas that has escaped from the bubbles pushes on the sides of the canister.</p>
<br>
<p>Now when you blow up a balloon, the air makes the balloon stretch bigger and bigger. But the little film canister doesn't stretch and all this gas has to go somewhere!

  Eventually, something has to give! So the canister pops its top (which is really its bottom, since it's upside down). All the water and gas rush down and out, pushing the canister up and up, along with the rocket attached to it.</p>






          </div>
        
          <div style="width: 35%; background-color: rgba(35, 182, 255, 0.268);text-align: center; padding: 20px;">
          <h2>Blast off!</h2>
          <br>
          <img src="/launch.png"><br>
          <p style="font-size: 13px;">Delta rocket similar to the one that launched the Deep Space 1 spacecraft from Cape Canaveral, Florida, in October 1998.</p>
          <br><br>
          <p>Real rockets work kind of the same way as the pop rocket. But instead of using tablets that fizz in water, they use rocket fuel.</p>
          <br>
          <p>The rocket that launched Deep Space 1 on October 24, 1998, had four different kinds of engines. Some pushed the rocket off the ground. Then some helped it continue its climb into space. Others gave the Deep Space 1 spacecraft its final push away from Earth. But all of them forced a gas to shoot out of the rocket, thus pushing the rocket the other way.</p>
        
        
        </div>

</div>



        <div id="modal" class="modal">
          <div class="modal-content">
            <span class="close-btn">&times;</span>
            <div class="logout">
              <img src="/bot.png"><div class="infos"><p>Username: Andrei</p><p>LearnerID: 12345678</p></div>
            </div>
            <button>LOG OUT</button> <button id="circ" type="submit" onmouseover="playSound()" > </button>
          </div>
          <img src="/light.png" style="height: 170px;width:520px;position: absolute;left:33%;top:51%;margin-bottom:30px;">
        </div>
        <br><br><br><br><br><br><br>




     

        </div>
        
<script>
   var audio = document.getElementById("backgroundMusic");
      audio.volume = 0.1;
      setTimeout(function() {
  var myDiv = document.getElementById("swipe");
  myDiv.classList.add("hidden");
}, 7000);
    
</script>


        <script>

    const openModalBtn = document.getElementById('open-modal-btn');
      const modal = document.getElementById('modal');
      const closeBtn = document.querySelector('.close-btn');

      // Open the modal
      openModalBtn.addEventListener('click', () => {
        modal.style.display = 'block';
      });

      // Close the modal when the user clicks on the close button or outside the modal
      closeBtn.addEventListener('click', () => {
        modal.style.display = 'none';
      });

      window.addEventListener('click', (event) => {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      });



     

   
        </script>
        <script src="/cursor.js"></script>
        <script>
          // Get a reference to the background music audio element
        const backgroundMusic = document.getElementById("backgroundMusic");
        
        // Function to play the background music
        function playBackgroundMusic() {
          backgroundMusic.play();
        }
        
        // Add event listeners for user interactions
        document.addEventListener("click", playBackgroundMusic);
        document.addEventListener("keydown", playBackgroundMusic);
         </script>
</body>
</html>