<!DOCTYPE html>
<html>
<head>
  <title>Space Quiz Categories</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <h1>Space Quiz Categories</h1>
  <table>
    <tr>
      <td>Solar System</td>
 
    </tr>
    <tr>
      <td>Galaxies</td>
   
    </tr>
    <tr>
      <td>Space Technology</td>
      
    </tr>
    <tr>
      <td>Spacecraft</td>
  
      <td></td>
    </tr>
  </table>
</body>
</html>
